
.Ug_header_logoIMG img{
    width: 250px;

}
.\"Ug_header_Container.t1UgHeaderContainer {
    display: flex;
    align-items: center;
    height: 130px;
    justify-content: space-between;

}
.t1UgDivLinksOfHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.t1UgDivLinksOfHeader a{
    padding: 10px 45px;
    border-radius: 5px;
    background-color: #8fd9fc;
    color: rgb(14, 6, 6);
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}
.Ug_HeaderSection.t1UgHeaderSec {
    width: 80%;
    margin: 0 auto;

}

.Ug_Home_Container.t1UgHomeContainer{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

}




/* For contact us ,home ........ */
.t1UgHeader {
    color: white;            
    padding: 10px 0;           
    text-align: center;        /* Centered text */
    font-size: 24px;           /* Larger text size */
    font-family: Arial, sans-serif; /* Font family */
  }
  
  /* Container for the header */
  .t1UgHContainer {
    max-width: 1200px; /* Maximum width */
    margin: 0 auto;    /* Center the container */
    padding: 0 20px;   /* Padding left and right */
  }
  
  /* Container for the navigation */
  .t1UgNavContainer {
    overflow: hidden;       
  }
  
  /* Unordered list inside the header */
  .t1UgHeaderUl {
    list-style-type: none;  /* Remove bullet points */
    margin: 0;              /* Remove default margin */
    padding: 0;  
    display: flex;
    flex-direction: row;   
    justify-content: space-evenly;     
    flex-wrap: wrap;   
  }
  

  .t1UgHeaderLi {
    float: left; 
    color: black;          
  }

  .t1UgHeaderLi a {
    display: block;        
    color: white;          
    text-align: center;     
    padding: 14px 16px;    
    text-decoration: none;  
  }
  
 
  

  .Ug_header_logoIMG {
    width: 250px;
    display: flex;
    align-items: center;
    padding: 9px;
    height: 154px;
  }

/* for exams page */

.t1ExamPageHeaderMainContainer{
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.t1ExamPageHeaderContainer{
    background-color: rgb(253, 246, 246);
}

.t1ExamPageHeaderHeading{
background-color: yellow;
}