
.Ug_header_logoIMG img{
    width: 250px;
}
.\"Ug_header_Container.t2UgHeaderContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.t2UgDivLinksOfHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.t2UgDivLinksOfHeader a{
    padding: 10px 45px;
    border-radius: 20px;
    background: linear-gradient(45deg, #0a9396, #005f73, #003d4e);
    color: white;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
.Ug_HeaderSection.t2UgHeaderSec {
    width: 80%;
    margin: 0 auto;
}
.Ug_Home_Container.t2UgHomeContainer{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
ul.t2UgHeaderUl {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2rem;
    margin: 0rem;
    padding: 5px 0;
}
.ug_container.themeUgHContainer {
    width: 80%;
    margin: 0 auto;
}
.ug_header.themeUgHeader {
    background-color: #e8ebf4;;
}
ul.t2UgHeaderUl li{
font-weight: 500;
font-size: 20px;
}
.ug_header.themeUgHeader {
    background-color: #144c5f;
    color: white;
}
.marquee_data.t2MarqData{
    background: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    color: #000;
    margin: 1rem 0;
    padding: .5rem;
}
.t2OurCoursesContainer {
    display: flex;
    align-items: center;
    justify-content: center;

}
.t2CoursesHeadding {
    width: 80%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}
.t2CoursesHeadding h2 {
    text-align: center;
    color: #376893;
}
li.t2CourseLi {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #e8ebf4;
}
.t2ExamsNames {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 1rem;
}
.t2FeaturesSecondContainer {
    display: flex;
    flex-direction: row;
    /* background-color: #3eaff1; */
    align-items: center;
    justify-content: space-around;
    width: 100%;
    gap: 1rem;
}
.t2FeaturesToBeRow {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
.t2CourseName {
    font-size: 20px;
    background-color: #1f4c60;
    margin: 1rem 0;
    border-radius: 20px;
    padding: 7px 25px;
    color: white;
}
.t2CoursesSubContainer {
    border: 1px solid black;
}
ul.t2CoursesUl {
    padding: 0;
    margin: 0;
}
.t2FeatureImgC {
    height: 250px;
    width: 250px;
}
.t2FeatureImgC img{
width: 100%;
}
/* #e8ebf4 */
.t2ExamsNames button{
    background-color:transparent ;
    /* color: white; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.t2FeaturesContainer {
    width:60%;
    padding: 10px 20px;
    /* background-color: #73b1e2; */
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.t2FeaturesContainer li{
    font-size: 20px;

}
.t2ArrowWithFeatures {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    padding: 5px 3px;
    background: linear-gradient(45deg, #0a9396, #005f73, #003d4e);
    border-radius: 27px;
    /* background: linear-gradient(5deg, #274c61, #59799c, #32546a, #dbe4f1); */
}
.arrow {
    padding: 4px 11px;
    background-color: #e8ebf4;
    color: black;
    border-radius: 20px;
    align-items: center;
    display: flex;
    font-size: 20px;
}
@media screen and (max-width: 1308px) {
    .t2FeaturesContainer li {
        font-size: 16px;
    }
}
@media screen and (max-width: 1170px) {
    .t2FeaturesContainer li {
        font-size: 12px;
    }
}

