.t1TabsDivMainContainer{
/* background-color: red; */
}

.t1TabsDiv{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
}

.t1TabsSubContainer{
display: flex;
flex-direction: row ;
background-color: #fff;
width:100%;
gap: 20px;
margin-bottom: 25px;
}

.t1TabsSubContainer .t1TabButtonUl{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid green;
}

.t1SelectedTabContentDiv{
    border: 1px solid green;
    width: 100%;
}


.t1TabImageDiv {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.t1TabImageDiv img {
    width: 100%;
    height: 100%;
}

.t1TabButtonUl li{
width: 200px;
}

.t1TabsChange button{
    width: 200px;
    height: 100px;
}