.whyChooseUsImg{
    height: 250px;
    width: 250px;
}
.whyChooseUsImg img{
width: 100%;
}
.courseITS{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rebeccapurple;
}
.tabImageDiv{
    /* height: 230px; */
    width: 200px;
}
.tabImageDiv img{
    width: 100%;
}
.tabsDiv{
    /* border: 1px solid black; */
    
}
.selectedButton {
    background-color: #4CAF50; /* Green */
    color: white;
  }
  
  .selectedTabContent {
    border: 2px solid #4CAF50; /* Green border */
    padding: 10px;
  }
  .activatedTabContent{
    border:2px solid #4CAF50; ;
  }  

  .tabButtonUl{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }
  .tabDetailsDiv{
    padding-left: 2rem;
  }