.t1TabsDivMainContainer{
/* background-color: red; */
}

.t1TabsDiv{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
}

.t1TabsSubContainer{
display: flex;
flex-direction: row ;
background-color: #fff;
width:100%;
gap: 20px;
margin-bottom: 25px;
}

.t1TabsSubContainer .t1TabButtonUl{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.t1SelectedTabContentDiv {
    width: 100%;
    box-shadow: rgba(0, 0, 0, -11.75) 59px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 2px 3px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}




.t1TabImageDiv {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.t1TabContentDiv{
padding: 20px;
}

.t1TabImageDiv img {
    width: 100%;
    height: 100%;
}


.t1TabsChange{
    padding: 10px;
}

.t1TabsChange button{
    width: 200px;
    height: 100px;
    box-shadow: rgba(230, 227, 227, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.t1TabContentDiv p span{
margin-right: 10px;
color: rgb(85, 50, 50);
}