.courseImgContainer {
    /* height: 250px; */
    width: 250px;
    width: 60%;
    margin: auto;
    border-bottom: 2px solid gray;
}
.courseImgContainer img{
    width: 100%;
}
.coursePagePortalName{
    background: linear-gradient(45deg, #0a9396, #005f73, #003d4e);
    color: white;
    text-align: center;
}
.courseExamContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    width: 80%;
    margin: auto;
    /* gap: 2rem; */
}
.courseExamParentContainer{
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    gap: 2rem;
}
.coursePageExamCardContainer{
    width: 400px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid green;
}
.courseExamHeading {
    width: 100%;
    text-align: center;
    background-color: gainsboro;
    margin: 0.5rem 0;
}
.courseExamDetailsContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-self: center;
}
.courseCardDetailsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0a9396;
    color: white;
    gap: 1rem;
}