.t1LinksPagesMainContainer{
    /* background-color: red; */
}
.t1AboutUsImgContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    
}

.t1AboutUsImgContainer img {
    border-radius: 5px;
    width: 330px;
}

.t1LinksDataContainer{
width: 80%;
margin: 0 auto;
/* background-color: #fef0f0; */
}
.t1AboutUsImgContainer span{
    margin-top: 25px;
}

.t1AboutUsImgContainer span a {
    background-color: #fef0f0;
    border-radius: 20px;
    border: 1px solid rgb(207, 160, 160);
    padding: 10px;
    height: 50px;
    width: 150px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.t1LinksDataContainer p strong{
color: red;
margin-left: -20px;
}

.t1LinksDataContainer p{
    color: black;
    padding: 10px;
    margin-left: 30px;
}