/* ***************{styles for "BranchHome Navbar" in BHPNavbar.jsx} ****************************************************************** */

.t1UgHeader {
    padding: 10px 0;
    text-align: center;
    font-size: 24px;
    font-family: Arial, sans-serif;
}

.t1UgHContainer {
    margin: 0 auto;
    padding: 0 20px;

}

.t1UgHeaderUl {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 0px 0px 0px 30px;
    flex-wrap: wrap;
}


.t1UgHeaderLi {
    color: black;
    transform: all 0.3s ease;
    width: 150px;
    padding: 0.6em -1em;
    background: #faf6f6;
    cursor: pointer;
}

.t1UgHeaderLi:hover {
    background-color: #3db0f3;
    border-radius: 10px;
    transition: ease-in-out 1s;
}


/* ***************{styles for "BranchHome Marquee" in BHPNavbar.jsx} ****************************************************************** */

.t1MarqData {
    background-color: rgb(153 217 254);
    height: 50px;
    font-size: 20px;
    padding: 10px;
}


/* ***************{styles for "BranchHome Explore Exams" in BHPExploreExams.jsx} ****************************************************************** */

.t1ExploreExamsMainContainer {
    /* background-color: red; */
    width: 100%;

    & #EXPLORE_Exam_Heading {
        text-align: center;
        color: black;
        background-color: green;
        width: 40%;
      border-radius: 20px;
    }
}

.NewExploreExams_ExamName_Container.t1NewExploreExams_ExamName_Container {
    height: 250px;
    display: flex;
    margin: 0 auto;
    padding: 10px;
    flex-direction: row;
    justify-content: space-around;
}

.t1ExploreExamsSubContainer {
    /* background-color: green; */
    width: 100%;
    display: flex;
    margin: 0 auto;
}

.t1NewExploreExams_ExamCard_Container {
    /* background-color: rgb(156, 60, 60); */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 75%;
    padding: 10px;
    margin: 0 auto;
    flex-wrap: wrap;  
    height: auto;
}

li.t1LinkToSpecificExam {
    position: absolute;
    top: -19%;
    left: 0;
}
.t1NewExploreExams_PortalNames_Container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 28px;
    gap: 14px;
    font-size: 16px;
    font-weight: 600;
    text-align: start;
}

.t1NewExploreExams_EachCard_Container ul {
    /* background-color: red; */
    /* position: absolute; */
}

.t1NewExploreExams_EachCard_Container ul li {
    /* background-color: rgb(107, 89, 89); */
}

.t1NewExploreExams_EachCard_Container ul li a {
    background-color: rgb(11, 204, 21);
    position: relative;
    left: -48px;
    top: 11px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    width: 102px;
    display: flex;
    height: 100px;
    border-radius: 53px;
}

.t1NewExploreExams_Image_Container {
    display: flex;
    background-color: pink;
    height: 240px;
}

.t1NewExploreExams_Image_Container img {
    width: 100%;
}

.NewExploreExams_EachCard_Container.t1NewExploreExams_EachCard_Container {
    height: 230px;
   position:relative;
    display: flex;
    flex-direction: column;
}

/* ***************{styles for "BranchHome OurCourses" in OurCourses.jsx} ****************************************************************** */

.t1OurCoursesContainer {
    /* background-color: green; */
}

.t1CoursesHeadding #Our_Courses_heading{
background-color: rgb(180, 123, 123);
width: 100%;
}

.themeCoursesSubContainer{
    color: #3db0f3;
    background-color: greenyellow;
}

.t1CoursesUl{
color: black;
}

.t1CourseLi{
color: rgb(14, 15, 15);
}

.t1CoursePortalNameImageContainer{
color: blue;
}

.t1CourseName {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.t1PortalName{
background-color: green;
height: 50px;
width: 300px;
display: flex;
align-items: center;
justify-content: center;
font-size: 20px;
color: white;
}

.t1FeaturesSecondContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.t1FeatureImgC{
height: 200px;
width: 300px;
border: 2px solid green;
border-radius: 50px;
display: flex;
    justify-content: center;
    flex-direction: row;
}
.t1FeatureImgC img{
    height: 100%;
    width: 100%;
    }

.t1FeaturesContainer{
display: flex;
flex-direction: column;
border: 2px solid green;
}

.t1FeaturesHeading{
color: red;
background-color: palegoldenrod;
}

.t1ArrowWithFeatures{

}

.t1Features{
    color: red;
    background-color: palegoldenrod;
}

.t1ExamsNames{
    display: flex;
    flex-direction: column;
    border:2px solid rgb(32, 151, 32);
}


.t1ExamsNames a {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(32, 151, 32);
    width: 200px;
    justify-content: space-between;
    background-color: gray;
    border-radius: 20px;
    /* gap: 10px; */
    /* padding: 10px; */
}