.NewExploreExams_ExamCard_Container.t2NewExploreExams_ExamCard_Container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}
   .NewExploreExams_EachCard_Container.t2NewExploreExams_EachCard_Container {
    height: 320px;
   width: 320px;
   
   }
   .NewExploreExams_EachCard_Container.t2NewExploreExams_EachCard_Container ul li.t2LinkToSpecificExam a {
    background: linear-gradient(45deg, #0a9396, #005f73, #003d4e);
    /* color: black; */
    width: 100%;
    text-align: center;
}

.NewExploreExams_EachCard_Container.t2NewExploreExams_EachCard_Container:nth-child(even) {
    height: 320px;
    width: 320px;
    border-radius: 0 15%;
}
.NewExploreExams_EachCard_Container.t2NewExploreExams_EachCard_Container:nth-child(odd) {
    height: 376px;
    width: 320px;
    /* background-color: red; */
    /* border-radius: 15% 0; */
    border: unset;
    box-shadow: unset;
    border-right: 1px solid #73aaaf;
    border-bottom: 1px solid #2d8990;
    /* box-shadow: rgb(43 132 141) -5px 5px, rgb(44 134 142 / 43%) -15px 15px, rgb(70 134 145 / 12%) -25px 25px; */
    box-shadow: rgb(43 132 141 / 21%) -5px 5px, rgb(70 134 145 / 12%) -12px 5px;
    border-top: 1px solid #2e8b91;
    background: linear-gradient(45deg, #2e8c9282, #c7dade29, #2e8c9200, transparent);
}
.NewExploreExams_PortalNames_Container.t2NewExploreExams_PortalNames_Container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 14px;
    /* margin-top: 4rem; */
}
.NewExploreExams_EachCard_Container.t2NewExploreExams_EachCard_Container ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
    position: relative;

}
li.t2LinkToSpecificExam {
    width: 100%;
}
li.t2LinkToSpecificExam {
    /* width: 60%; */
    /* position: absolute; */
    /* box-shadow: rgb(42 131 140) 0px -4px 2px 0px, rgb(43 132 141 / 11%) -7px -3px 0px 1px; */
    /* top: -16px; */
    border-radius: 20px;
    /* left: -11%; */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
}
.NewExploreExams_PortalNames_Container.t2NewExploreExams_PortalNames_Container li {
    font-size: 16px;
    width: 100%;
    text-align: center;
    font-weight: 600;
    border: 1px solid gray;
    padding: 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.bitsatOtsBgImages h1 {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(90deg,#eeeff8 0,#00aff0 0,#cf1512);
    -webkit-background-clip: text;
}
#EXPLORE_Exam_Heading {
    color: #00a3ff;
    text-align: center;
    font-size: 2rem;
    margin: 2rem auto;
    color: #1a5b70;
}
.NewExploreExams_Main_Container.t2ExploreExamsMainContainer #EXPLORE_Exam_Heading {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(90deg,#eeeff8 0,#00aff0 0,#cf1512);
    -webkit-background-clip: text;
    text-shadow: 1px 1px 0 var(--bs-cyan), -1px -1px 0 #2c888f;
}
.NewExploreExams_Main_Container.t2ExploreExamsMainContainer {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    /* margin: 1rem; */
    padding: 1rem 0;
}
.NewExploreExams_Main_Container.t2ExploreExamsMainContainer {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    /* margin: 1rem; */
    padding: 1rem 0;
}
.NewExploreExams_Main_Container.t2ExploreExamsMainContainer {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    /* margin: 1rem; */
    padding: 1rem 0;
}