.t2AboutUsImgWithTextDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: linear-gradient(45deg, #0a9396, #005f73, #003d4e);
    padding: 2rem;
    color: white;
}
.t2AUHeadingContainer {
    position: absolute;
    top: 0;
    /* left: 0; */
}
.t2AUSection1 {
    padding: 2rem;
    /* background-color: red; */
}
